@{
    Layout = "~/Views/SharedWPLogin/_Layout.cshtml";
}

@Html.Partial("card_menu")
@Html.Partial("Javascript")


@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-data">
    @Html.Partial("SearchCriteria")
    @Html.Partial("Datagrid_Data")
    @Html.Partial("PopupForm")
    @Html.Partial("ModalForm")
</div>
@Html.Partial("Javascript")*@
