@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.DISA100001Master;
@{
    List<DISA10001_LAPOR_ASSET> DataWP = (List<DISA10001_LAPOR_ASSET>)ViewData["DataDISA100001"];
    List<LokasiModel> Lokasi = (List<LokasiModel>)ViewData["nama_lokasi"];
    //List<DISA100001> Status_Cmb = (List<DISA100001>)ViewData["Status_Cmb"];
    //List<DISA100001> Time_Cmb = (List<DISA100001>)ViewData["Time_Cmb"];
    //List<DISA100001> ExecTime_Cmb = (List<DISA100001>)ViewData["Time_Cmb"];
    //List<DISA100001> Model_type = (List<DISA100001>)ViewData["Model_type"];
    //var flg_status_dispose= @ViewData["FLG_STATUS_DISPOSE"];
}

<style>
    table{
        background-color: white !important;
    }
    th {
        text-align: center;
    }

    #tblScroll tbody td {
        vertical-align: middle;
        background-color: white !important;
    }

    #bungkusTable {
        overflow-y: hidden;
    }

    #dataGrid {
        overflow-x: hidden;
    }

    td {
        padding: 0 5px 0 5px !important;
    }
</style>


<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12" style="overflow: hidden;" id="GridTable">
        <div style="border: 1pt solid #ccc; overflow:scroll; position: relative;">
            <div id="gutterGrid" style="position: absolute; display: block; top: 0; right: 0; width: 17px; height: auto; border-left: 0px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: rgb(241, 241, 241);"></div>
            <div id="tScrollHead" style="width: 100%; border-right:17px solid #fff; position:sticky; top:0">

                <table id="dynamic-table" class="table table-striped table-bordered table-condensed table-fixed" style="width: 50%; table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="width: 30px; text-align: center;" class="grid-checkbox-col" rowspan="2">
                                @*<input type="checkbox" value="All" style="height: 12px;" id="checkall" />*@
                            </th>
                            <th style="width: 75px;" rowspan="2">NO</th>
                            <th style="width: 200px;" rowspan="2">NO. LAPOR</th>
                            <th style="width: 250px;" rowspan="2">NO. ASSET</th>
                            <th style="width: 200px;" rowspan="2">STATUS KONDISI</th>
                            <th style="width: 400px;" rowspan="2">KETERANGAN</th>
                            @*<th style="width: 450px;" colspan="3">LOKASI</th>*@
                            @*<th style="width: 300px;" colspan="2">USER</th>*@
                            <th style="width: 450px;" colspan="3">PELAPOR</th>
                            <th style="width: 200px;" rowspan="2">STATUS APPROVAL</th>
                            <th style="width: 120px;" rowspan="2">ACTION</th>
                        </tr>
                        <tr>
                            @*<th style="width: 150px;">KODE LOKASI</th>*@
                            @*<th style="width: 150px;">NAMA LOKASI</th>*@
                            @*<th style="width: 150px;">HALTE</th>*@
                            @*<th style="width: 150px;">NAMA USER</th>*@
                            @*<th style="width: 150px;">DEPT. USER</th>*@
                            <th style="width: 150px;">NAMA PELAPOR</th>
                            <th style="width: 150px;">TGL. LAPOR</th>
                            <th style="width: 150px;">LAMPIRAN</th>
                        </tr>
                    </thead>
                    @{
                        if (DataWP == null || DataWP.Count == 0)
                        {
                            <tr id="NoDataFound">
                                <td colspan="10" class="text-center">No data found</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <!--data grid-->
            <div id="tScrollBody" style="height: 350px;">
                <table id="tblScroll" class="table table-bordered table-condensed table-fixed" style="width: 50%; table-layout: fixed; border: none; background-color:white;">
                    <tbody id="tableBody">
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (DISA10001_LAPOR_ASSET item in DataWP)
                                    {
                                        <tr id="row-@number" class="row-@item.ID">
                                            <td style="width: 30px; text-align: center;" class="grid-checkbox-col">
                                                @{
                                                    if (item.FLG_APPROVAL == "True")
                                                    {
                                                        <input class="form-control" type="checkbox" disabled />

                                                    }
                                                    else if (item.FLG_APPROVAL == "False")
                                                    {
                                                        <input class="grid-checkbox" value="@item.ID,@item.ID_TB_M_LAPOR,@item.NO_LAPOR,@item.NO_ASSET,@item.STATUS,@item.KETERANGAN,@item.PIC_LAPOR,@item.KD_LOKASI_BARU,@item.SUB_LOKASI_BARU,@item.NAMA_USER_BARU,@item.DEPT_USER_BARU,@item.HALTE_BARU,@item.HARGA_BARU,@item.COST_UPGRADE_BARU,@item.SPESIFIKASI_BARU"
                                                               type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />

                                                    }
                                                    else
                                                    {
                                                        <input class="grid-checkbox" value="@item.ID,@item.ID_TB_M_LAPOR,@item.NO_LAPOR,@item.NO_ASSET,@item.STATUS,@item.KETERANGAN,@item.PIC_LAPOR,@item.KD_LOKASI_BARU,@item.SUB_LOKASI_BARU,@item.NAMA_USER_BARU,@item.DEPT_USER_BARU,@item.HALTE_BARU,@item.HARGA_BARU,@item.COST_UPGRADE_BARU,@item.SPESIFIKASI_BARU"
                                                               type="checkbox" name="checkdata[]" id="check-@number" style="height: 12px; display: inline-block;" />
                                                    }
                                                }

                                            </td>
                                            <td>
                                                <input type="hidden" id="rowData-@item.ID_TB_M_LAPOR" value="@Json.Encode(item)" /> @* Pass data to Json for retrieve to Javascript*@
                                            </td>
                                            <td style="width: 75px; text-align:center;">
                                                @item.ROW_NUM
                                            </td>
                                            <td style="width: 200px"> @item.NO_LAPOR</td>
                                            <td style="width: 250px"> @item.NO_ASSET</td>
                                            <td style="width: 200px"> @item.STATUS</td>
                                            <td style="width: 400px"> @item.KETERANGAN</td>
                                            @*<td style="width: 150px"> @item.KD_LOKASI</td>*@
                                            @*<td style="width: 150px"> @item.NAMA_LOKASI</td>*@
                                            @*<td style="width: 150px"> @item.HALTE</td>*@
                                            @*<td style="width: 150px"> @item.NAMA_USER</td>*@
                                            @*<td style="width: 150px"> @item.DEPT_USER</td>*@
                                            <td style="width: 150px"> @item.PIC_LAPOR</td>
                                            <td style="width: 150px"> @item.TGL_LAPOR</td>
                                            @*<td style="width: 200px; text-align:center;"> <img src="~/Content/Upload/Foto/ManajementAsset/@item.NAMA_FOTO" style="width:100px; height:75px; text-align: center" /> </td>*@
                                            <td class="align-center align-middle" style="width: 150px">
                                                @*<label style="display:none">@item.ID_TB_M_LAPOR</label>*@
                                                @*<input type="hidden" id="rowData-@item.ID_TB_M_LAPOR" value="@Json.Encode(item)" />*@
                                                <label data-title="@item.ID_TB_M_LAPOR" onclick="showImage(this)" id="btn_change" style="text-decoration:underline; cursor:pointer">Lihat Gambar</label>
                                            </td>
                                            
                                            @if (item.FLG_APPROVAL == "True")
                                            {
                                                <td class="align-center align-middle" style="width: 200px"> Approved </td>
                                            }
                                            else if (item.FLG_APPROVAL == "False")
                                            {
                                                <td class="align-center align-middle" style="width: 200px"> Not Approved </td>
                                            }
                                            else { 
                                                <td class="align-center align-middle" style="width: 200px"> Waiting Approval </td>
                                            }

                                        <td class="align-center align-middle" style="width: 120px">
                                            @if (item.FLG_APPROVAL == "True")
                                            {
                                                @*<label>Sudah Approval by @item.APPROVAL_BY</label>*@
                                                <button type="button" data-title="@item.ID_TB_M_LAPOR" onclick="showLaporan(this)" class="btn btn-success btn-xs" id="btn_show_data" name="btn_show_data" style="width: 75px; margin-left:10px;"><i class="fa fa-eye"></i> Show </button>
                                            }
                                            else if (item.FLG_APPROVAL == "False")
                                            {
                                                <button type="button" data-title="@item.ID_TB_M_LAPOR" onclick="showLaporan(this)" class="btn btn-success btn-xs" id="btn_show_data" name="btn_show_data" style="width: 75px; margin-left:10px;"><i class="fa fa-eye"></i> Show </button>
                                            }
                                            else
                                            {
                                                <button type="button" data-title="@item.ID_TB_M_LAPOR" onclick="approveLaporan(this)" class="btn btn-primary btn-xs" id="btn_register_data" name="btn_register" style="width: 75px; margin-left:10px;"><i class="fa fa-check"></i> Approve </button>
                                            }
                                        </td>
                                        </tr>
                                        number++;
                                    }
                                }
                            }
                        }
                        <!----><!----><!---->
                    </tbody>
                </table>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-fixed" style="width: 100%">
            <tfoot>
                <tr>
                    <td colspan="8" id="partialPaging">
                        @Html.Partial("Datagrid_Paging")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>