@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div id="main-data">
        @Html.Partial("SearchCriteria")
        @Html.Partial("Datagrid_Data")
    </div>
    @Html.Partial("Javascript")*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("card_menu")
@Html.Partial("DataCard")
@Html.Partial("Javascript")