
@using AI070.Models;
@{

}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<!--Pop Up Difrent Dmc Code -->
<div id="DifrentDmcCode_PopUp" class="modal fade">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <img src="@Url.Content("~/Content/Bootstrap/img/Error2.png")" height="100" width="85" class="center" />
            </div>
            <div class="modal-body">
                <div>
                    <p style="text-align:center">Dmc Code tidak sama dengan sebelumnya </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNo" class="btn btn-primary btn-sm center" style="width: 80px;" data-dismiss="modal">  OK</button>
            </div>
        </div>
    </div>
</div>

<!--Pop Up Nomer Serial Sama-->
<div id="DuplicateSerial_PopUp" class="modal fade">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <img src="@Url.Content("~/Content/Bootstrap/img/Error2.png")" height="100" width="85" class="center" />
            </div>
            <div class="modal-body">
                <div>
                    <p style="text-align:center">Nomer Serial sama dengan nomer sebelumnya </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNo" class="btn btn-primary btn-sm center" style="width: 80px;" data-dismiss="modal">  OK</button>
            </div>
        </div>
    </div>
</div>

<!--Pop Up master belum teregister di master-->
<div id="ConvertionTable_PopUp" class="modal fade">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <img src="@Url.Content("~/Content/Bootstrap/img/Error2.png")" height="100" width="85" class="center" />
            </div>
            <div class="modal-body">
                <div>
                    <p style="text-align:center">Data master belum teregister di convertion table, silahkan hubungi supervisor </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNo" class="btn btn-primary btn-sm center" style="width: 80px;" data-dismiss="modal">  OK</button>
            </div>
        </div>
    </div>
</div>

<!--Pop Up QTY / Berat melebihi batas master-->
<div id="QtyBeratUp_PopUp" class="modal fade">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <img src="@Url.Content("~/Content/Bootstrap/img/Error2.png")" height="100" width="85" class="center" />
            </div>
            <div class="modal-body">
                <div>
                    <p style="text-align:center"> Qty dan berat melebihi standard, silahkan cek lagi aktual produk </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnNo" class="btn btn-primary btn-sm center" style="width: 80px;" data-dismiss="modal">  OK</button>
            </div>
        </div>
    </div>
</div>

<!--Pop Up QTY / Berat kurang dari batas master-->
<div id="QtyBeratUnder_PopUp" class="modal fade">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <img src="@Url.Content("~/Content/Bootstrap/img/question2.png")" height="100" width="85" class="center" />
            </div>
            <div class="modal-body">
                <div>
                    <p style="text-align:center">
                        Qty dan berat kurang dari standard, apakah anda yakin ingin melanjutkan proses ?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="ProcessSubmitProject()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>

<!--form confirm delete data-->
<div id="Confirmation_Delete_Popup" class="modal fade">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="delete_IDz" />

                <div> Are you sure want to Delete this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" data-dismiss="modal">Yes</button>
                    <button type="button" id="btnNo" class="btn btn-default btn-sm" data-dismiss="modal">No</button>*@
                <button type="button" onclick="delete_data()" id="btn_Confirm_Delete" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>

<!--form confirm add data-->
<div id="PopupForm_AddNewConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <div> Are you sure want to Save this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="btn_Confirm_Add_New" class="btn btn-primary btn-sm" data-dismiss="modal">Yes</button>
                    <button type="button" id="btnNo" class="btn btn-default btn-sm" data-dismiss="modal">No</button>*@
                <button type="button" id="btn_Confirm_Add_New" onclick="addNew()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>


<!--form add data-->
<!--form confirm update data-->
<div id="PopupForm_EditConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="edit_ID" />
                <input type="text" style="display:none" id="edit_NO" />

                <div> Are you sure want to Update this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="btn_Confirm_Edit_Data" class="btn btn-primary btn-sm" data-dismiss="modal">Yes</button>
                    <button type="button" id="btnNo" class="btn btn-default btn-sm" data-dismiss="modal">No</button>*@
                <button type="button" id="btn_Confirm_Edit_Data" onclick="updateData()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>

<!--form confirm add  -->
<div id="PopupForm_AddIMPBConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="add_ID" />

                <div class="modal-save-tittle"> Are you sure want to Save this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_Confirm_Add_New" onclick="confirmAdd()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>

<!--form confirm edit -->
<div id="PopupForm_EditIMPBConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="edit_ID" />
                <div class="modal-update-tittle"> Are you sure want to Edit this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_Confirm_Edit_Pekerjaan" onclick="confirmEdit()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>


<!--form confirm delete -->
<div id="PopupForm_DeleteConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="delete_ID" />
                <div class="modal-delete-tittle"> Are you sure want to Delete this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_Confirm_Edit_Pekerjaan" onclick="confirmDelete()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>

<!--form confirm print -->
<div id="PopupForm_PrintConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="delete_ID" />
                <div class="modal-delete-tittle"> Are you sure want to Print this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_Confirm_Edit_Pekerjaan" @*onclick="confirmPrint()"*@ OnClick="PrintPanel()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>

<!--form confirm submit -->
<div id="PopupForm_SubmitConfirm" class="modal fade" style="z-index:9999!important">
    <div class="modal-dialog modal-md" style="width:300px!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><img src="@Url.Content("~/Content/Bootstrap/img/question.png")" height="40" width="40" class="modal-icon" /></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="popup-title">Confirmation</h4>
            </div>

            <div class="modal-body">
                <input type="text" style="display:none" id="submit_ID" />
                <div class="modal-submit-tittle"> Are you sure want to Submit this data ?</div>
                <div class="row" style="padding-left: 10px;">
                    <div id="confirmationModal">&nbsp;</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_Confirm_Submit_Pekerjaan" onclick="confirmSubmit()" class="btn btn-primary btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-check"></i> Yes</button>
                <button type="button" id="btnNo" class="btn btn-danger btn-sm" style="width: 80px;" data-dismiss="modal"><i class="fa fa-times"></i>  No</button>
            </div>
        </div>
    </div>
</div>