@using AI070.Models;
@using AI070.Models.Shared;
@using AI070.Models.DTIDashboardListRepository;
@{
    List<Detail_Data> DataWP = (List<Detail_Data>)ViewData["DataGetDetail"];
    List<ad_dis_rtjn_master_dashboard_target> bind_target = (List<ad_dis_rtjn_master_dashboard_target>)ViewData["bind_target"];
}
                    
                    <thead style="background: #e6e3e3">                    
                        <tr>
                            <th colspan="9" align="right">
                                <i>
                                    Target/Day :
                                    @{
                                        foreach (ad_dis_rtjn_master_dashboard_target item in bind_target)
                                        {
                                            @item.akumulasi_target
                                        }
                                    }
                                </i>
                            </th>
                        </tr>
                        <tr>                            
                            <th class="align-center align-middle" style="width: 150px;">Shift Date</th>
                            <th style="width: 150px;">Jam</th>
                            <th style="width: 100px;">Target</th>
                            <th style="width: 100px;">Aktual</th>
                            <th style="width: 100px;">Manpower</th>
                            <th style="width: 100px;">OPMJ</th>
                            <th style="width: 100px;">Acc</th>
                            <th style="width: 400px;">Masalah</th>
                            <th style="width: 400px;">Action</th>
                        </tr>
                    </thead>
                    @{
                        if (DataWP == null || DataWP.Count == 0)
                        {
                            <tr id="NoDataFound">
                                <td colspan="9" class="text-center">No data found</td>
                            </tr>
                        }
                    }
         
            <!--data grid-->        
                    
                        <!----><!----><!---->
                        @{
                            if (DataWP != null)
                            {
                                if (DataWP.Count > 0)
                                {
                                    var number = 1;
                                    foreach (Detail_Data item in DataWP)
                                    {
                                        
                            <tr rowspan="15" id="row-@number" class="row-@item.ID">

                                <td style="width: 150px;" align="center">@item.SHIFT_DATE</td>
                                <td align="center" style="width: 150px;">@item.JAM</td>
                                <td align="center" style="width: 100px;">@item.TARGET</td>
                                @{
                                    //high light actual
                                    if (item.ACTUAL > 350)
                                    {
                                        <td align="center" style="background: #77f5e9; width: 100px;">@item.ACTUAL</td>

                                    }
                                    else if (item.ACTUAL < 350 && item.ACTUAL > 0)
                                    {
                                        <td align="center" style="background: #fb7575; width: 100px;">@item.ACTUAL</td>
                                    }
                                    else
                                    {
                                        <td align="center" style="width: 100px;">@item.ACTUAL</td>
                                    }

                                    //hitung OPMJ aktual / manpower
                                    int OPMJ = 0;
                                    if (item.ACTUAL == 0)
                                    {
                                        OPMJ = 0;
                                    }
                                    else
                                    {
                                        OPMJ = @item.ACTUAL / @item.MP;
                                    }

                                }

                                <td align="center" style="width: 100px;">@item.MP</td>
                                <td align="center" style="width: 100px;">@OPMJ </td>
                                @*<td align="center" style="width: 100px;">@item.OPMJ</td>*@
                                <td align="center" style="width: 100px;">@item.ACC</td>
                                <td style="width: 400px">@item.MASALAH</td>
                                <td style="width: 400px">@item.ACTION</td>
                            </tr>
                                        number++;
                                        
                                    }
                                }
                            }
                        }
                        <!----><!----><!---->
   