@{
    Layout = "~/Views/Shared_Manajemen_Asset/_Layout.cshtml";
}
<div id="main-data">
    @Html.Partial("Master_Asset/SearchCriteria")
    @Html.Partial("Master_Asset/CheckValidasiUser")
    @Html.Partial("Master_Asset/Datagrid_Data")
    @Html.Partial("Master_Asset/PopupForm")
    @Html.Partial("Master_Asset/ModalForm")
</div>
@Html.Partial("Master_Asset/Javascript_Master")

