<div class="row" id="hidden" style="display: none">
    <input id="Save_Data" value="@ViewData["save"]" />
    <input id="Add_Data" value="@ViewData["add"]" />
    <input id="Edit_Data" value="@ViewData["edit"]" />
    <input id="Edit_Image" value="@ViewData["edit_image"]" />
    <input id="Edit_Keterangan" value="@ViewData["edit_keterangan"]" />
    <input id="Delete_Data" value="@ViewData["delete"]" />
    <input id="Dispose_Data" value="@ViewData["dispose"]" />
    <input id="Register_Data" value="@ViewData["register"]" />
    <input id="Download_Data" value="@ViewData["download"]" />
    <input id="Upload_Data" value="@ViewData["upload"]" />
    <input id="Print_Data" value="@ViewData["print"]" />
    <input id="View_Data" value="@ViewData["view"]" />
    <input id="Approve_1" value="@ViewData["approve1"]" />
    <input id="Approve_2" value="@ViewData["approve2"]" />
    <input id="Approve_3" value="@ViewData["approve3"]" />
    <input id="Approve_4" value="@ViewData["approve4"]" />
    <input id="Acknowledge" value="@ViewData["acknowledge"]" />
    <input id="Enable_Data" value="@ViewData["enable"]" />
    <input id="Visible_Data" value="@ViewData["visible"]" />
    <input id="Export_Data" value="@ViewData["export"]" />
</div>

