<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    TEST
</body>
</html>


@*@{
        Layout = "~/Views/SharedWPLogin/_Layout.cshtml";
    }
    @Html.Partial("card_menu")
    @Html.Partial("DataCard")
    @Html.Partial("Javascript")
    @Html.Partial("PopupForm")
    @Html.Partial("ModalContractor")*@